.content-box {
    max-width: 1000px;
    height: 700px;
    background-image: url(tomandjerry.jpg);
    background-repeat: no-repeat;
    border: 10px solid black;
    margin: 0px auto;
}

.tom {
    width: 300px;
    padding-top: 100px;
    padding-left: 525px;

}

.jerry {
    width: 270px;
    padding: 50px 40px 30px 50px;
}